{% include 'includes/header.html' %}
<h1>Step Two: Settings</h1>
<!-- here do stuff with how long work can be done late, should certain keywords be ignored, etc... -->
<table>
    <tr>
        <th>Configuration</th>
        <th>Setting</th>
    </tr>
    <tr>
        <td><input type="range" min="1" max="10" value="1" class="slider" id="slider">
            <p id="custom">1 Day</p>
        </td>
        <td>Max Late Days</td>
    </tr>
    <tr>
        <td>
            <select id="times">
                <option value="230" selected>2:30PM</option>
                <option value="300">3:00PM</option>
                <option value="330">3:30PM</option>
                <option value="400">4:00PM</option>
            </select>
        </td>
        <td>Schedule Send Time</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<button onclick="save()" id="save">Save & Continue</button>
<script>
    const slider = document.querySelector('#slider');
    slider.addEventListener('change', function () {
        // This function will be called whenever the slider value changes
        if (slider.value != 1) {
            document.getElementById("custom").innerHTML = slider.value + " Days";
        } else {
            document.getElementById("custom").innerHTML = "1 Day";
        }
    });

    selectedTime = document.querySelector('#times').value
</script>
{% include 'includes/footer.html' %}